// Introducing LU-specific variables

@lu-pink: #fbe5f0;
@lu-green: #dfefe8;
@lu-gold: #8e5614;
@lu-beige: #ebe5d8;
@lu-gray: #dedbd9;

// Colour customisation

@primary: @lu-gold;


// Typography customisation
@font: "Arial", sans-serif;
@font-heading: "Georgia", serif;

// CSS below needs to be fixed to use parent or customised variables

.pkp_structure_head {
  background-color: @lu-green;
  color: black;
  }

.pkp_structure_footer_wrapper {
  background-color: @lu-green;
  color: black;
  }

.lu_brand_footer {
  grid-column: 1;
  padding: 20px;
  position: relative;

}

.pkp_brand_footer {
  grid-column: 2;
  padding: 20px;
  position: relative;
 
}

.pkp_brand_footer a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pkp_brand_footer img, lu_brand_footer img {
    width: 90px;
}

.branding_footer {
  display: grid;
  grid-template-columns: 150px 150px;
}

a:hover, a:focus {
  text-decoration: underline;
}

.pkp_navigation_primary .dropdown-menu a:focus, .pkp_navigation_primary .dropdown-menu a:hover {
    border-color: @lu-gold;
    text-decoration: none;
}

.pkp_nav_list ul a:hover, .pkp_nav_list ul a:focus {
    background: @lu-beige none repeat scroll 0 0;
    border-color: @lu-gold;
    outline: 0 none;
    text-decoration: none;
}

.pkp_site_name .is_text {
    font-family: "Georgia", serif;
    text-transform: uppercase;
    text-decoration: none;
    color: @lu-gold;
  }

.pkp_page_index .additional_content {
   border-top: 0;
   padding-top: 0;
   padding-bottom: 10px;
   }


.pkp_head_wrapper .pkp_search .search_prompt, .search_prompt:hover, .search_prompt:focus {
    color: @lu-gold;
}


.pkp_block .title {
    color: @lu-gold;
    font-family: @font-heading;
}

.pkp_navigation_primary > li > a, .pkp_navigation_primary > li > a:hover, .pkp_navigation_primary > li > a:focus {
    color: @lu-gold;
}

.pkp_navigation_primary > li > a:hover, .pkp_navigation_primary > li > a:focus {
    border-color: @lu-gold;
    text-decoration: none;
}

.pkp_head_wrapper .pkp_search .search_prompt:hover, .pkp_head_wrapper .pkp_search .search_prompt:focus {
    border-color: @lu-gold;
}

.pkp_navigation_primary ul a {
    color: @lu-gold;
}

.pkp_navigation_user > li > a, .pkp_navigation_user > li.in_focus > a, .pkp_navigation_user > li > a:hover, .pkp_navigation_user > li > a:focus {
    color: @lu-gold;
}

.pkp_navigation_user > li > a:hover {
    text-decoration: none;
}

.cmp_notification {
    background: @lu-beige;
    border-left: 5px solid @lu-gold;
}

.cmp_breadcrumbs .current h1 {
    font-family: @font;
}

.pkp_structure_main h3, .pkp_structure_main h2, .pkp_structure_main h4 {
    font-family: @font-heading;
}

.pkp_page_index .journals h3 {
    font-size: @font-bump;
}

.page_submissions .submission_checklist li::before {
    color: @lu-gold;
}

.obj_announcement_summary .read_more {
    color: @lu-gold;
}

.cmp_button,.cmp_form .buttons button,.pkp_head_wrapper .pkp_search button,.page_lost_password .buttons button,.page_search .submit button,.block_make_submission a {
	display: inline-block;
	padding: 0 1em;
	background: @lu-gold;
	border: none;
	border-top-color: #bbb;
	border-radius: 3px;
	box-shadow: none;
	font-size: 13px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-family: "Arial", sans-serif;
}

#navigationUserWrapper {

    color: black;
}

.pkp_structure_head {
    border: none;

}

.lu_ojs_link {
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    font-size: small;
    
}

.lu_logo_sidebar {
    padding-top: 0;
    padding-bottom: 0;
}

.lu_logo_sidebar img {
    width: 110px;
}

.pkp_page_index .journals .thumb {
    float: right;
}

.pkp_page_index .journals .thumb + .body {
    float: left;
}
