@lu-pink: #fbe5f0;
@lu-green: #dfefe8;
@lu-gold: #8e5614;
@lu-beige: #ebe5d8;
@lu-gray: #dedbd9;

.pkp_structure_head {
  background-color: white;
  color: black;
  }

.pkp_structure_footer_wrapper {
  background-color: @lu-green;
  color: black;
  }

.lu_brand_footer {
  grid-column: 1;
  padding: 20px;
  position: relative;

}

.pkp_brand_footer {
  grid-column: 2;
  padding: 20px;
  position: relative;
 
}

.pkp_brand_footer a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pkp_brand_footer img, lu_brand_footer img {
    width: 130px;
}

.branding_footer {
  display: grid;
  grid-template-columns: 150px 150px;
}

a {
  color: @lu-gold;
}

a:hover, a:focus {
  text-decoration: underline;
  color: @lu-gold;
}

.pkp_navigation_primary .dropdown-menu a:focus, .pkp_navigation_primary .dropdown-menu a:hover {
    border-color: @lu-gold;
    text-decoration: none;
}

.pkp_nav_list ul a:hover, .pkp_nav_list ul a:focus {
    background: @lu-beige none repeat scroll 0 0;
    border-color: @lu-gold;
    outline: 0 none;
    text-decoration: none;
}

.pkp_site_name .is_text {
  color: @lu-gold;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  }

h1, h2, h3, h4 {
  font-family: "Georgia", serif;
}

.pkp_page_index .journals h3 {
    font-size: 16px;
    font-family: "Georgia", serif;
}

body {
  font-family: "Arial", sans-serif;
  }

.pkp_page_index .additional_content {
   border-top: 0;
   padding-top: 0;
   padding-bottom: 10px;
   }


.pkp_head_wrapper .pkp_search .search_prompt, .search_prompt:hover, .search_prompt:focus {
    color: @lu-gold;
}

.pkp_page_index .journals > ul > li {
    border-top: none;
}

.pkp_block .title {
    color: @lu-gold;
    font-family: "Georgia", serif;
}

.pkp_navigation_primary > li > a, .pkp_navigation_primary > li > a:hover, .pkp_navigation_primary > li > a:focus {
    color: @lu-gold;
}

.pkp_navigation_primary > li > a:hover, .pkp_navigation_primary > li > a:focus {
    border-color: @lu-gold;
    text-decoration: none;
}

.pkp_navigation_primary ul a {
    color: @lu-gold;
}

.pkp_navigation_user > li > a, .pkp_navigation_user > li.in_focus > a, .pkp_navigation_user > li > a:hover, .pkp_navigation_user > li > a:focus {
    color: @lu-gold;
}

.pkp_navigation_user > li > a:hover {
    text-decoration: none;
}

.cmp_notification {
    background: @lu-beige;
    border-left: 5px solid @lu-gold;
}

.cmp_breadcrumbs .current h1 {
    font-family: "Arial", sans-serif;
}

.pkp_structure_main h3, .pkp_structure_main h2, .pkp_structure_main h4 {
    font-family: "Georgia", serif;
}

.page_submissions .submission_checklist li::before {
    color: @lu-gold;
}

.obj_announcement_summary .read_more {
    color: @lu-gold;
}

.cmp_button,.cmp_form .buttons button,.pkp_head_wrapper .pkp_search button,.page_lost_password .buttons button,.page_search .submit button,.block_make_submission a {
	display: inline-block;
	padding: 0 1em;
	background: @lu-gold;
	border: none;
	border-top-color: #bbb;
	border-radius: 3px;
	box-shadow: none;
	font-size: 13px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-family: "Arial", sans-serif;
}

.lu_cropped_logo {
    display: block;
    float: left;
    width: 150px;
}

.pkp_site_name .is_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#navigationUserWrapper {
    background: @lu-green;
    color: black;
}
